# macOS
.DS_Store

# Xcode
# Xcode user settings

*.xccheckout
*.xcscmblueprint
*.xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/

# Derived data & build folders
DerivedData/
build/
.build/

# SwiftPM
.swiftpm/
Package.resolved

#Jetbrains
.idea
